[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
	ignore = dirty
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
	ignore = dirty
[submodule "icenet"]
	path = icenet
	url = https://github.com/firesim/icenet.git
	ignore = dirty
[submodule "sifive-blocks"]
	path = sifive-blocks
	url = https://github.com/sifive/sifive-blocks.git
	ignore = dirty
[submodule "riscv-tools"]
	path = riscv-tools
	url = https://github.com/firesim/riscv-tools.git
	ignore = dirty
[submodule "boom"]
	path = boom
	url = https://github.com/ucb-bar/riscv-boom.git
	ignore = dirty
[submodule "vagrant-firechip"]
	path = vagrant-firechip
	url = https://github.com/l-nic/vagrant-firechip.git
[submodule "lnic-dev/riscv-isa-sim"]
	path = lnic-dev/riscv-isa-sim
	url = https://github.com/l-nic/riscv-isa-sim.git
[submodule "lnic-dev/riscv-pk"]
	path = lnic-dev/riscv-pk
	url = https://github.com/riscv/riscv-pk.git
	ignore = dirty
[submodule "lnic-dev/riscv-opcodes"]
	path = lnic-dev/riscv-opcodes
	url = https://github.com/l-nic/riscv-opcodes.git
[submodule "lnic-dev/riscv-openocd"]
	path = lnic-dev/riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
	ignore = dirty
[submodule "lnic-dev/riscv-tests"]
	path = lnic-dev/riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	ignore = dirty
[submodule "lnic-dev/riscv-binutils-gdb"]
	path = lnic-dev/riscv-binutils-gdb
	url = https://github.com/l-nic/riscv-binutils-gdb.git
[submodule "lnic-dev/binutils-gdb"]
	path = lnic-dev/binutils-gdb
	url = https://github.com/l-nic/binutils-gdb.git

